<!-- Section Intro Start -->
<section class="section intro">
	<div class="container">
		<div class="columns is-align-items-center is-desktop mb-6">
			<div class="column is-6-desktop">
				<div class="section-title mb-0">
					<span class="text-color">What we can do</span>
					<h2 class="mt-4 content-title">We Believe that We can <br>Save More Lifes with you</h2>
				</div>
			</div>
			<div class="column is-6-desktop">
				<p>Welcome to Pinnacle Heights Academy, where education meets opportunity. We are more than just a school — we are a movement to equip youth and communities with the skills, confidence, and knowledge they need to thrive.</p>
			</div>
		</div>
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="images/image_1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Early Childhood Education</h4>
					<p>Our Early Childhood Education program is designed to spark curiosity, creativity, and confidence in young learners. We focus on the holistic development of children, nurturing not only academic skills like literacy and numeracy but also emotional intelligence, social skills, and physical coordination.</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="images/image_2.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Primary & Secondary Education</h4>
					<p>Our Primary and Secondary Education programs offer a balanced and inclusive curriculum that meets national standards while encouraging critical thinking, problem-solving, and creativity. Students benefit from small class sizes, modern teaching methods, and a supportive learning environment that caters to different learning styles.</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/image_3.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Vocational & Technical Courses</h4>
					<p>In today’s competitive job market, practical skills can make all the difference. Our Vocational and Technical Courses equip learners with hands-on training in trades and professions that are in high demand locally and globally.</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="images/image_4.png" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Community Outreach Programs</h4>
					<p>We believe education should reach everyone — not just those within our school walls. Our Community Outreach Programs take learning directly to rural villages, underserved neighborhoods, and marginalized communities.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro END -->
