<!-- Header Start -->
<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="columns is-gapless is-justify-content-space-between is-align-items-center">
				<div class="column is-6-desktop is-4-tablet has-text-left-desktop has-text-centered-mobile">
					<div class="header-top-info">
						<a href="#tel:+23-345-67890"><i class="icofont-phone mr-2"></i><span>+263 71 688 3543</span></a>
						<a href="#" ><i class="icofont-email mr-2"></i><span>support@heightsacademy.com</span></a>
					</div>
				</div>
				<div class="column is-6-desktop is-8-tablet">
					<div class="header-top-right has-text-right-tablet has-text-centered-mobile">
						<a href="https://www.facebook.com/profile.php?id=61579118593375" target="_blank"><i class="icofont-facebook"></i></a>
						<a href="##" target="_blank"><i class="icofont-linkedin"></i></a>
						<a href="#donation" class="top-btn">Donate Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav id="navbar" class="navbar main-nav">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="#index">
					<img src="images/logo.png" alt="logo">
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>

			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end">
					<li class="navbar-item">
						<a class="navbar-link" href="#index">Home</a>
					</li>

					<li class="navbar-item">
						<a class="navbar-link" href="#about">About</a>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Causes<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="#service">Causes</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Get Involved<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="#donation">Donation</a>
							<a class="navbar-item" href="#volunteer">Be a Volunteer</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Events<span class="ml-1">+</span></a>
					</li>

					<li class="navbar-item">
						<a class="navbar-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- Header Close -->
