<div class="volunteer section ">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-7-desktop is-12-tablet">
				<div class="volunteer-content">
					<img src="images/image_4.png" alt="Community Volunteering" class="">
					<h2 class="text-lg mb-5 mt-3">We can’t help everyone, but everyone can help someone</h2>
					<p>At <strong>Pinnacle Heights Academy</strong>, volunteers are at the heart of our mission to provide affordable education and empower communities. By contributing your time, skills, and passion, you help create opportunities for learners of all ages, uplift families, and strengthen the social fabric of our neighborhoods. Every effort counts, and together, we can make a lasting impact.</p>

					<h2 class="mt-6 mb-5">Trusted Worldwide Partners</h2>
					<div class="clients-wrap">
						<a href="#">
							<img src="images/april-logo.png" alt="Partner Logo" class="">
						</a>
					</div>
				</div>
			</div>

			<div class="column is-5-desktop is-12-tablet">
				<div class="volunteer-form-wrap">
					<span class="text-white">Join With Us</span>
					<h2 class="mb-6 text-lg text-white">Become A Volunteer</h2>
					<form action="#" class="volunteer-form">
						<div class="mb-4">
							<input type="text" class="input" placeholder="Full Name">
						</div>
						<div class="mb-4">
							<input type="email" class="input" placeholder="Email Address">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Phone Number">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Address">
						</div>
						<div class="mb-4">
							<input type="text" class="input" placeholder="Occupation">
						</div>
						<div class="mb-4">
							<textarea name="#" id="#" cols="30" rows="6" class="input" placeholder="Tell us why you want to volunteer"></textarea>
						</div>

						<a href="#" class="btn btn-main is-rounded mt-5">Send Message</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
